extends layout

block content
  head
    title Page Not Found
    link(rel='stylesheet' href='../public/stylesheets/style.css')
  h2 Page Not Found
    p Sorry! We couldn't find the page you were looking for.
  br
  p
    div 
      a.button(href='/books') Home
